
<div class="list-group" style="max-height: 570px; overflow-y: scroll" #noteListDiv>
  <a class="list-group-item notelist-item-wrap new-note" (click)="newNote()">New Note</a>
  <a *ngFor="let note of noteList"
     (click)="onSelect(note)"
     [class.active]="note === selectedNote"
     class="list-group-item ">
    <div class="notelist-item-wrap">
      <b>{{note.name}}</b>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeNote(note)"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="notelist-item-wrap">
      {{note.content}}
    </div>

  </a>
</div>